@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(#123, #111); */
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    #671645,
    #59204d,
    #4b2852,
    #3d2d52,
    #31304f,
    #2b3652,
    #273b54,
    #254054,
    #224b5c,
    #205662,
    #256166,
    #2f6b67
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::selection {
  background: goldenrod;
  color: white;
}
